body {
    color: blue
}

h1 {
    color: greenyellow
}

/* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blue;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    
} */

